<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD:lab_1/templates/index.html
    <head>
        <meta charset="UTF-8">
        <title>{{ name }}</title>
    </head>
    
    <body>
        <h1>Hello my name is {{ name }}</h1>
        <article>I am {{ age }} years old</article>
    </body>
=======
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>
</body>
>>>>>>> ad670ac239dd5b6ab36be3f3f326451cfafdbb7b:lab_1/templates/index_lab1.html
</html>
